/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

.watermark-link {
	margin-top: -1rem;
	margin-bottom: 2rem;
	display: block;
	font-size: 90%;
	opacity: .7;
}
.watermark-link:hover {
	opacity: 1;
}
.image-container {
	display: inline-flex;
	background-image: url('/img/loading.gif') !important;
	background-repeat: no-repeat;
	background-position: center center;
}
#folder .image-container img {
	aspect-ratio: 1;
	width: 100%;
}
#media-item {
	text-align: center;
}
#media-item .image-container {
	/* dimensions of loading indicator */
	min-width: 32px;
	min-height: 32px;
}
#media-item .image-container img {
	max-height: 85vh;
	max-width: 100%;
}
#media-item .qr-image {
	margin-top: 3rem;
}
#media-item .qr-image img {
	max-width: 150px;
	height: auto;
}
