/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

ul {
	list-style: none;
	padding: 1.5rem 3rem;
}
li {
	margin-bottom: 0.75rem;
}
.add-collection {
	text-transform: lowercase;
}
