/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

ul {
	padding: 2rem 3rem;
	list-style: none;
}
li {
	margin-bottom: 1.5rem;
}
.add-collection {
	text-transform: lowercase;
}
