/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

html {
	font-size: 16px;
}
body {
	background: radial-gradient(circle, #424242 0%, #2d2d2d 100%);
	font-family: sans-serif;
}
html, body {
	margin: 0;
	height: 100%;
}
body, a {
	color: #bfbfbf;
}
a:hover {
	text-decoration: underline;
	color: #fff;
}
body > main {
	padding-block: 0;
}
a {
	text-decoration: none;
	background-color: rgba(0, 0, 0, .2);
}
a.button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 1.5rem;
	border: none;
	cursor: pointer;
	opacity: .75;
	background-color: transparent;
}
a.button:not([disabled]):hover {
	opacity: 1;
}
a.button.border {
	border: 1px solid #bfbfbf;
	border-radius: 1rem;
	background-color: rgba(0, 0, 0, .2);
	padding: 1rem 2rem;
}
a.button.border:hover {
	border-color: #fff;
	text-decoration: none;
}
footer {
	text-align: center;
	padding-bottom: 1.5rem;
}
nav {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 1rem;
}
nav > div {
	width: 100%;
}
nav .parent {
	flex: 1;
	text-align: center;
}
nav .next {
	text-align: left;
}
nav .previous {
	text-align: right;
}
nav .next,
nav .previous {
	flex: 2;
}
nav .pagination a.button img {
	width: 1.8rem;
	height: 1.8rem;
}
nav a.button[disabled] {
	opacity: 0.125;
	cursor: unset;
}
footer nav .parent {
	visibility: hidden;
}
.centered-content {
	display: flex;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
