body {
	padding: 1rem;
}
h1 {
	font-size: 1.3rem;
}
h1:before,
h1:after {
	content: '======================================================================================================================================================================================================================';
	font-size: 50%;
	overflow: hidden;
	display: block;
}
.view-collections {
	text-align: center;
	margin: 5rem 0;
}
