/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

body {
	padding: 1rem;
}
h1 {
	font-size: 1.3rem;
}
h1:before,
h1:after {
	content: '======================================================================================================================================================================================================================';
	font-size: 50%;
	overflow: hidden;
	display: block;
}
.view-collections {
	text-align: center;
	margin: 5rem 0;
}
pre:has(code) code {
	display: block;
	margin: 1rem 0;
	padding: 1rem;
}
code {
	background-color: rgba(0, 0, 0, .2);
	font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}
