/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

body {
	padding: 1rem 1rem 0 1rem;
}
a {
	word-break: break-all;
}
h1 {
	font-size: 1.3rem;
	padding-bottom: .75rem;
	border-bottom: 4px solid rgba(191, 191, 191, .5);
}
.view-collections {
	text-align: center;
	font-size: 1.5rem;
	margin: 5rem 0;
}
pre:has(> code) {
	padding: 1rem;
	background-color: rgba(0, 0, 0, .2);
}
pre:has(> code) > code {
	display: block;
	margin: 0;
	overflow-y: auto;
}
code {
	font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}
ol {
	padding: 0 0 0 2.25rem;
}
section {
	border: 2px solid rgba(191, 191, 191, .25);
	background-color: rgba(25, 25, 25, .65);
	margin: 0 0 1rem 0;
	padding: 0 1rem;
}
@media screen and (min-width: 600px) {
	body {
		padding: 1rem 2rem 0 2rem;
	}
	section {
		margin: 0 auto 2rem auto;
		padding: 1rem 2rem;
		max-width: 1000px;
	}
	ol {
		margin-top: 2rem;
	}
}
@media screen and (min-width: 1000px) {
	html {
		font-size: 17px;
	}
	body {
		padding-bottom: 4rem;
	}
}
