/*
 * License: https://github.com/lipupini/esunview/blob/master/LICENSE.md
 * Homepage: https://c.dup.bz
*/

.purchase {
	text-align: center;
}
.purchase button,
.purchased {
	margin-bottom: 2rem;
}
.purchased > div {
	border: 1px solid green;
	padding: 1rem 2rem;
	border-radius: 1rem;
	background-color: darkgreen;
	display: inline-block;
}
.purchase button {
	margin-bottom: 2rem;
	padding: .75rem 1.5rem;
	font-size: 1rem;
	border: 2px solid #000;
	cursor: pointer;
	background-color: #fff;
	opacity: .75;
}
.purchase button:hover {
	opacity: 1;
}
.purchased span {
	font-style: italic;
}
.purchased a {
	text-decoration: underline;
}
#media-item main {
	animation: fadeIn .25s;
	padding-bottom: 5rem;
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
footer {
	margin-top: 3rem;
}
